{% extends "base.html" %}

{% block content %}

{% for entry in entries %}
	<a href="/submit">Submit entries</a>
	<br>
	<div class="entries">
		<div class="art-title">
			Entry title: <a href="/post?id={{entry.key().id()}}">{{entry.title}}</a>
			<br>
			PostID = {{entry.key().id()}}
			<br>
			Posted by user: <a href="/user?id={{entry.user.key().id()}}"><div class="user">{{entry.user.username}}</div></a>
		</div>
		Entry: <pre class="art-body">{{entry.entry}}</pre>
		<a href="/like?id={{entry.key().id()}}">Like!</a>
		<form method="POST" action="/comment">
			<label>
			<div>Comment:</div>
			<input type="hidden" name="id" value="{{entry.key().id()}}">
			<textarea name="comment">{{comment}}</textarea>
			<br>
			<input type="submit">
			</label>
		</form>
	</div>

{% endfor %}

{% endblock %}
