{% extends "base.html" %}

{% block content %}
<h2>Sign up:</h2>
<form method="post">
	<table>
		<tr>
			<td>username:</td>
			<td><input type="text" name="username" value="{{username}}"></td>
			<td>{{usermsg}}</td></tr>
		<tr>
			<td>password:</td>
			<td><input type="password" name="password"></td>
			<td>{{passmsg}}</td>
		</tr>
		<tr>
			<td>verify:</td>
			<td><input type="password" name="verify"></td>
			<td>{{verifymsg}}</td>
		</tr>
		<tr>
			<td>email:</td>
			<td><input type="email" name="email" value="{{mail}}"></td>
			<td>{{mailmsg}}</td>
		</tr>
		
		<input type="submit">
		<div class="error"> {{ error }}</div>
	</table>
</form>

{% endblock %}